:root{
 --defaultblue: steelblue;
}
 
form {
  display: none;
  flex-direction: column;
}               

input.book-prop{
  height: 28px;
  width: 100%;
  color: darkgrey;
  border: 1px solid lightgrey;
  text-indent: 3px;
  font-size: 20px;
  vertical-align: center;
  margin-bottom: 5px;
}                                                    
                   
.btn{
  padding: 1rem 2rem;
  font-size: 1.2em;
  border-radius: 4px;
} 
           
button#done-button{
  border: 1px solid var(--defaultblue);
  color: var(--defaultblue);
  background: white;
}                            
                             
.bg-steelblue{
  background-color: var(--defaultblue);
  color: white;
}

.bg-green{
 background-color: green;
 color: white;
}

.show{
 display: flex;
}             
                                     
